{% extends "layout.html" %}

{% block content %}
  <br/>
  <br/>
  <br/>
  <h1>{{title}}</h1>

  <h3> <small> (<a href="PLACEHOLDER_URL_TITLE/similar">Similar</a>)</small></h3>
  <h4>by <a href="/wiki/users/{{author_id}}">{{author}}</a></h4>
  <!-- <div>PLACEHOLDER TAG LIST</div> -->
  <hr/>
  <div class="page-body">{{content}}</div>
  <hr/>
  <a href="/wiki/{{title}}/edit" class="btn btn-primary">edit this page</a>
  <a href="/wiki/{{title}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
